{% macro navbar(idname) %}
<link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
  <nav class="navbar navbar-expand-xl fixed-top navbar-light bg-light shadow-sm">
<div class="container">
    <img src={{ url_for('static', filename='img/restaurant.svg' )}} id='logo'>
    <a class="navbar-brand" href="#"> FoodHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample06">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="home">
          <a class="nav-link" href="{{ url_for('restaurant') }}" >Home</a>
        </li>
      </ul>
    </div>
</div>
  </nav>
<script type="text/javascript">
  var y = document.getElementById("{{ idname }}").className = 'nav-item active border-bottom'
</script>
{% endmacro %}