{% macro sidebar(idname,name) %}
<div class="container pl-5 mt-5 text-left">
	<div class="row m-4">
		<div class="col">
			<a class="btn btn-outline-secondary btn-lg border border-0" href="#"><img src={{ url_for('static', filename='img/restaurant.svg' )}} id='logo'> FoodHub</a>
		</div>
	</div>
	<!-- <img class="border rounded mb-3" src={{ url_for('static', filename='img/resto_logo.webp') }} width="275" height="275"> -->
	<div class="row m-4">
		<div class="col">
			<a href="#" id="myrest" class="btn btn-outline-secondary btn-lg border border-0">My Restaurants</a>
		</div>
	</div>
	<div class="row m-4">
		<div class="col">
			<a href="#" id="reser" class="btn btn-outline-secondary btn-lg border border-0">Reservations</a>			
		</div>
	</div>
	<div class="row m-4">
		<div class="col">
			<a href="#" id="menu" class="btn btn-outline-secondary btn-lg border border-0">Menu</a>			
		</div>
	</div>
	<div class="row m-4">
		<div class="col">
			<div class="dropdown dropright">
			  <button class="btn btn-outline-secondary btn-lg border border-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    {{ name }}
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			    <a class="dropdown-item" href="#">Profile</a>
			    <a class="dropdown-item" href="#">Logout</a>
			  </div>
			</div>		
		</div>
	</div>
</div>


<script type="text/javascript">
  var y = document.getElementById("{{ idname }}").className = 'btn btn-secondary btn-lg font-weight-bolder'
</script>
{% endmacro %}