{% extends 'base.html' %}

{% block content %}
{% from 'dashboard/_navbar.html' import navbar %}
{% from 'dashboard/_add_restaurant_helper.html' import render_field %}
{{ navbar() }}
<div class="container mt-5">
	<div class="row mt-5">
		<div class="col"></div>
		<div class="col-lg-6 mt-5">
			{% if message != '' %}
			<div class="alert alert-danger" role="alert">
			  {{ message }}
			</div>
			{% endif %}
			<div class="card">
				<div class="card-header">
					<div class="card-title">Add Restaurant Form</div>
				</div>
				<div class="card-body">
					<form method="post" action="{{ url_for('add_restaurant') }}">
						{{ form.csrf_token }}
						<h4>Restaurant Details</h4>
						<div class="form-group">
							<label for="email">Restaurant Name</label>
							{{ render_field(form.resto_name, class="form-control", required="true", id="resto_name") }}
							</div>
						<div class="form-group">
							<label for="email">Location</label>
							{{ render_field(form.location, class="form-control", required="true", id="location") }}
						</div>
						<div class="form-group">
							<label for="email">Services</label>
							{{ render_field(form.services,placeholder="e.g: Wifi, Aircon, etc", class="form-control", required="true", id="services") }}
						</div>
						<div class="form-group">
							<label for="email">Description</label>
							{{ render_field(form.resto_description, class="form-control", required="true", id="resto_description") }}
						</div>
						<!-- <div class="form-group"> -->
							
						<!-- </div> -->
							<br>
							<h4>Operating Hours</h4>
							<label for="email">Sunday</label>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
									{{ render_field(form.start_sun, class="form-control", required="true", id="start_sun", type="time") }}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
									{{ render_field(form.end_sun, class="form-control", required="true", id="end_sun", type="time") }}
									</div>
								</div>
							</div>
							<label for="email">Monday</label>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
									{{ render_field(form.start_mon, class="form-control", required="true", id="start_mon", type="time") }}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
									{{ render_field(form.end_mon, class="form-control", required="true", id="end_mon", type="time") }}
									</div>
								</div>
							</div>
							<label for="email">Tuesday</label>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
									{{ render_field(form.start_tue, class="form-control", required="true", id="start_tue", type="time") }}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
									{{ render_field(form.end_tue, class="form-control", required="true", id="end_tue", type="time") }}
									</div>
								</div>
							</div>
							<label for="email">Wednesday</label>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
									{{ render_field(form.start_wed, class="form-control", required="true", id="start_wed", type="time") }}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
									{{ render_field(form.end_wed, class="form-control", required="true", id="end_wed", type="time") }}
									</div>
								</div>
							</div>
							<label for="email">Thursday</label>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
									{{ render_field(form.start_thu, class="form-control", required="true", id="start_thu", type="time") }}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
									{{ render_field(form.end_thu, class="form-control", required="true", id="end_thu", type="time") }}
									</div>
								</div>
							</div>
							<label for="email">Friday</label>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
									{{ render_field(form.start_fri, class="form-control", required="true", id="start_fri", type="time") }}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
									{{ render_field(form.end_fri, class="form-control", required="true", id="end_fri", type="time") }}
									</div>
								</div>
							</div>
							<label for="email">Saturday</label>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
									{{ render_field(form.start_sat, class="form-control", required="true", id="start_sat", type="time") }}
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
									{{ render_field(form.end_sat, class="form-control", required="true", id="end_sat", type="time") }}
									</div>
								</div>
							</div>
							<br>
							<input type="submit" name="addresto" value="Submit Restaurant" class="btn btn-block btn-secondary">
					</form>
				</div>
			</div>
		</div>
		<div class="col"></div>
	</div>
</div>
{% endblock %}