{% extends 'base.html' %}
{% block content %}
{% from 'dashboard/_sidebar.html' import sidebar %}

{% from 'dashboard/_add_restaurant_helper.html' import render_field %}
<link rel="stylesheet" type="text/css" href="../static/css/navbar.css">

<div class="row mt-3 inline-block"></div>
<div class="row w-100">
	<div class="mx-4 col-lg-3"></div>
	<div class="mx-4 col-lg-3 position-fixed">
	{{ sidebar("myrest", data['name']) }}
	</div>
	<div class="col-lg-6 p-0 mt-5 mr-0">
		<div class="container">
			{% if message != '' %}
			<div class="alert alert-danger" role="alert">
			  {{ message }}
			</div>
			{% endif %}
			<div class="card rounded-0 shadow shadow-sm mb-5">
				<div class="card-header">
					<h5 class="card-title">Create Restaurant</h5>
				</div>
				<form method="POST" action="{{ url_for('create_restaurant') }}">
					{{ form.csrf_token }}
					<div class="card-body">
						<strong>Photos</strong>
						<div class="row mt-2">
							<div class="col-4">
								<div class="form-group">
                                    <img src="" alt="Upload Logo" width="100" height="100" style="display: block; border: 1px dashed; padding: 5px; margin-bottom: 15px" class="image-preview" id="reslogo">
                                    <label for="">Logo:</label>
                                    <input type="file" name="logo" class="form-control-file image-input form-control-sm" data-preview="#reslogo" accept="image/*">
                                </div>
							</div>
							<div class="col-8">
								<div class="form-group">
                                    <img src="" alt="Upload Logo" width="350" height="100" style="display: block; border: 1px dashed; padding: 5px; margin-bottom: 15px" class="image-preview" id="rescover">
                                    <label for="">Cover:</label>
                                    <input type="file" name="logo" class="form-control-file image-input form-control-sm" data-preview="#rescover" accept="image/*">
                                </div>
							</div>
						</div>
						<hr>
						<strong>Details:</strong>
						<div class="row mt-2">
							<div class="col-6">
								<div class="form-group">
									<label>Name:</label>
									{{ render_field(form.resto_name, class="form-control form-control-sm", required="true", id="resto_name") }}
								</div>
								<div class="form-group">
									<label>Location:</label>
									{{ render_field(form.location, class="form-control form-control-sm", required="true", id="location", placeholder="Restaurant Location here") }}
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label>Amenities:</label>
									{{ render_field(form.services,placeholder="e.g: Wifi, Aircon, etc", class="form-control form-control-sm", required="true", id="services") }}
								</div>
								<div class="form-group">
									<label>Description:</label>
									<textarea name="description" class="form-control form-control-sm"></textarea>
								</div>

							</div>
							
						</div>
						<hr>
						<div class="row">
							<div class="col">
							 	<strong> Operating hours</strong>
								<div class="row mt-3">
									<div class="col">
										<div class="form-group">
											<label>Week days:</label>
											<div class="row">
												<div class="col">
													{{ render_field(form.start_weekday, class="form-control form-control-sm", required="true", id="start_weekday", type="time") }}
												</div>
												<div class="col-1 p-0 m-0">
													to
												</div>
												<div class="col">
													{{ render_field(form.end_weekday, class="form-control form-control-sm", required="true", id="end_weekday", type="time") }}
												</div>
											</div>
										</div>
										
									</div>
									<div class="col">
										<div class="form-group">
											<label>Weekends:</label>
											<div class="row">
												<div class="col">
													{{ render_field(form.start_weekend, class="form-control form-control-sm", required="true", id="start_weekend", type="time") }}
												</div>
												<div class="col-1 p-0 m-0">
													to
												</div>
												<div class="col">
													{{ render_field(form.end_weekend, class="form-control form-control-sm", required="true", id="end_weekend", type="time") }}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer text-right">
						<button class="btn btn-success">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		
	</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	function readURL(input, preview) {

      var elem = input;

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $(preview).attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
    $(".image-input").change(function() {
      readURL(this, $(this).data('preview'));
    });
</script>
{% endblock %}