{% extends 'base.html' %}
{% block content %}
{% from 'dashboard/_sidebar.html' import sidebar %}
<link rel="stylesheet" type="text/css" href="../static/css/navbar.css">

<div class="row mt-3 inline-block"></div>
<div class="row w-100">
	<div class="mx-4 col-lg-3"></div>
	<div class="mx-4 col-lg-3 position-fixed">
	{{ sidebar("myrest",user['name']) }}
	</div>
	<div class="col-lg-6 p-0 mt-5 mr-0">
		{% if restos['data'] == [] %}
		<div class="jumbotron p-4">
		  <h3 class="display-5">Hi, {{ data['name'] }}!</h3>
		  <p class="lead">Since you haven't created you restaurant yet</p>
		  <p class="lead">
		    <a class="btn btn-secondary btn-lg" href="{{ url_for('add_restaurant') }}" role="button">Create Restaurant</a>
		  </p>
		</div>
		{% else %}
		
		<div class="row mt-3">
			<div class="card w-100">
				<div class="card-header">
					<div class="row">
						<div class="card-title col">
							Restaurants
						</div>
						<div class="col text-right">
							<button class="btn btn-success font-weight-bolder"> + </button>
						</div>
					</div>
				</div>
				<div class="card-body">
					<p>
					  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
					    Link with href
					  </a>
					  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
					    Button with data-target
					  </button>
					</p>
					<div class="collapse" id="collapseExample">
					  <div class="card card-body">
					    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
					  </div>
					</div>
				</div>
			</div>
		</div>
			<!-- <div class="col">
				<div class="card h-100">
					<div class="card-body">
						<div class="card-title"><h3 class="font-weight-bolder">{{ resto['resto_name'] }}</h3></div>
							<p class="mx-2"><strong>Description: </strong>{{ resto['resto_description'] }}</p>
							<p class="mx-2"><strong>Location: </strong>{{ resto['location'] }}</p>
							<p class="mx-2"><strong>Services: </strong>{{ resto['services'] }}</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100">
					<div class="card-body">
						<div class="text-center">
								<h4>Operating Hours</h4>
								<div class="row">
									<div class="col">
										<p class="mx-2">Sunday: {{ resto['sun'] }}</p>
										<p class="mx-2">Monday: {{ resto['mon'] }}</p>
										<p class="mx-2">Tuesday: {{ resto['tue'] }}</p>
									</div>
									<div class="col">
										<p>Wednesday: {{ resto['wed'] }}</p>
										<p>Thursday: {{ resto['thu'] }}</p>
										<p>Friday: {{ resto['fri'] }}</p>
										<p>Saturday: {{ resto['sat'] }}</p>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		 -->
		{% endif %}
	</div>
	<div class="col-lg-3">
		
	</div>
</div>
{% endblock %}