* {
	font-family: 'Montserrat', sans-serif;
	/* font-family: 'Josefin Sans', sans-serif; */
}

body {
	overflow-x: hidden;
	font-size: 16px;
}

.navbar {
	font-size: 18px;
	background-color: transparent !important;
	margin-top: 20px;
}

.navbar-light .navbar-nav .nav-link {
	color: #dc3545 !important;
}

.btn-main {
	color: #fff;
	border-radius: 30px;
	font-size: 20px;
	padding: 10px 30px;
	display: inline-block;
	background-color: #28a745;
}

.main-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	font-weight: 700;
}

.main-heading {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 25px;
}

.form-login {
	margin: 40px auto;
	float: none;
	max-width: 500px;
}
