* {
	font-family: 'Montserrat', sans-serif;
}

body {
	overflow-x: hidden;
	font-size: 16px;
}

.navbar {
	font-size: 18px;
	background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
	font-weight: 500;
	color: #dc3545 !important;
}

.main-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 55px;
	font-weight: 700;
}

.main-paragraph {
	font-size: 24px;
	line-height: 25px;
}

.form-login {
	margin: 40px auto;
	float: none;
	max-width: 500px;
}
