{% extends 'base/base.html' %}
{% from 'components/components.html' import navbar_index %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">

{{ navbar_index() }}

<main class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-md-left text-center">
      <h1 class="main-title mt-5">Feeling Hungry?</h1>
      <p class="main-paragraph mt-3">Find the best restaurants in Iligan City and get to know these awesome restaurant owners.</p>
      <a href="#" class="btn btn-success btn-lg rounded-pill" data-toggle="modal" data-target="#staticBackdrop" style="font-weight: 500;">Create Account</a>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <img src="../static/img/forlandingpage.png" id="animg">
    </div>
  </div>
</main>

{% endblock %}