{% extends 'base.html' %}
{% from "components.html" import navbar %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">

{{ navbar() }}

<section class="hero-area">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center">
				<img class="" src="../static/img/forlandingpage.png" id="animg" style="width: 100%;">
			</div>
			<div class="col-md-6 align-self-center">
				<h1 class="main-title mb-3">Feeling Hungry?</h1>
				<p class="main-heading mb-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ex, deserunt explicabo quam laudantium veniam consectetur. Consequuntur corporis expedita sint.</p>
				<div class="d-flex justify-content-center">
					<a href="" class="btn btn-main align-self-center" data-toggle="modal" data-target="#staticBackdrop"><strong>Join now</strong></a>
				</div>
				</div>
		</div>
	</div>
</section>

{% endblock %}