{% extends 'base/base.html' %}

{% block content %}
{% from 'form_helpers/_login_helper.html' import render_field %}
<div class="form-background">
	<div class="card form-login shadow">
		<h3 class="d-flex justify-content-center my-4" style="font-weight: 600;">Login | FoodHub</h3>
		<form method="POST" action="" class="px-5">
			{{ form.csrf_token }}
			<div class="form-group">
				<label for="email">Email</label>
				{{ render_field(form.email, class="form-control", required="true", id="email") }}
			</div>
				<div class="form-group">
				<label for="password">Password</label>
				{{ render_field(form.password, class="form-control", required="true", id="password") }}
				<input type="checkbox" id="showpass" onclick="showPass()"><small> Show Password</small>
			</div>
			<input type="submit" class="btn btn-block btn-success my-5" value="Submit">
		</form>
	</div>
</div>

<script type="text/javascript">
	function showPass() {
	  var x = document.getElementById("password");
	  if (x.type === "password") {
	    x.type = "text";
	  } else {
	    x.type = "password";
	  }
	}
</script>
{% endblock %}